{% extends 'base.html.twig' %}

{% block body %}

    <ul id="lightgallery">
        {% for file in files %}
        <li>
            <a href="/photos/{{ file }}" data-sub-html="#sub{{ file|md5 }}">
                <img src="/photos/{{ file }}"/>
            </a>
        </li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        window.imageCount = {{ number }};
    </script>
    {% for file in files %}
    <div class="invisible" id="sub{{ file|md5 }}">
        <div class="sidebar">
            <h2>Einträge zu diesem Bild</h2>
            <a href="{{ path('entry_new', {'fileName': file}) }}">Neuen Gästebuch-Eintrag anlegen</a>
            {% if guestBookData[ file ] is defined %}
            <h3>vorhandene Einträge</h3>
            <ol>
                {% for index, entry in guestBookData[ file ] %}
                    <li>
                        von "{{ entry.author }}"
                        <br>
                       <nav> <a href="{{ path('entry_edit', {'fileName': file, 'number': index}) }}">bearbeiten</a>
                        <a href="{{ path('entry_view', {'fileName': file, 'number': index}) }}">ansehen</a></nav>
                    </li>
                {%  endfor %}
            </ol>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}